// Variables

$color-orange-50 : #FFEFE6;
$color-orange-100 : #FFCFB0;
$color-orange-200 : #FFB78A;
$color-orange-300 : #FF9654;
$color-orange-400 :#FF8233 ;
$color-orange-500 :#FF6300 ;
$color-orange-600 : #E85A00;
$color-orange-700 : #B54600;
$color-orange-800 : #8C3600;
$color-orange-900 :#6B2A00 ;   

$color-black-50: #E6E6E6;
$color-black-100:#B0B0B0 ;
$color-black-200:#8A8A8A;
$color-black-300:#545454;
$color-black-400:#333333 ;
$color-black-500:#000000 ;


$radius-xsm: 0.5rem; 
$radius-sm: 0.8rem;
$radius-md:1.2rem;
$radius-lg:1.4rem;
$rounded: 50%; 